<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".GlobalData"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Start"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneMain"
            android:label="@string/app_name"
            android:theme="@style/ShortenActionbar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TabletMain"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
<activity
            android:name=".Settings"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".AddEmpeg"
            android:icon="@drawable/player"
            android:label="Choose player" >
        </activity>
        
        <service android:name=".NotificationService" android:exported="false" android:foregroundServiceType="connectedDevice" />
        <receiver android:name=".NotificationService$NotifButtonListener" android:exported="false" />

    </application>

</manifest>